body {
  font-size: 10px;
  font-family: Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
  color: green;
}

.products {
  text-transform: capitalize;
}

/*header*/
header img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  position: relative;
}

header .header-title {
  font-size: 1.4rem;
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
  color: #fff;
}

header .header-menu {
  display: flex;
}

header .header-menu {
  margin: 0;
  padding: 0;
}

header .header-menu li {
  font-size: 1.4rem;
  list-style: none;
  text-transform: uppercase;
  background-color: rgba(128, 128, 128, 0.634);
  padding: 1rem 3rem;
  margin-right: 0.2rem;
}

header .header-menu li a:link {
  text-decoration: none;
  color: rgb(76, 75, 75);
}

/* home section*/

.hover-style:hover {
  background-color: rgba(128, 128, 128, 0.238);
}

/*Footer style*/
footer {
  background-color: lightgreen;
}
