html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: Arial, sans-serif;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  color: green;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.section-box {
  padding: 1rem 2rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}

.section-box:hover {
  background-color: rgba(128, 128, 128, 0.238);
}

/*header*/
header img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  position: relative;
}

header .header-title {
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
  color: #fff;
}

header .header-menu {
  margin: 0;
  padding: 0;
}

header .header-menu li {
  list-style: none;
  text-transform: uppercase;
  background-color: rgba(128, 128, 128, 0.634);
  padding: 1rem 3rem;
  margin-right: 0.2rem;
}

header .header-menu li a:link {
  text-decoration: none;
  color: rgb(76, 75, 75);
}

/* main */
main {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 20px;
  padding: 2rem 1rem;
}

.products .products-title {
  text-transform: capitalize;
}

.products .product-item {
  gap: 1rem;
  margin-bottom: 1rem;
}

.products .product-item img {
  width: 15rem;
}

/*Footer style*/
.copyright {
  background-color: lightgreen;
  padding: 1rem 2rem;
  text-align: center;
}
